
# Project exclude paths
/out/
/scripts/production_setup_scripts/Gym_App.jar
/scripts/production_setup_scripts/.env
/target/classes/production_setup/.env
/src/main/resources/data/database_scripts/Tests/
/target/classes/data/database_scripts/Tests/
/data/root.mv.db
/data/root.trace.db
data/root;
/data/*.db
/data/*.db-shm
/data/*.db-wal
/data/gym_app00001;
/data/gym_app00001;-journal
/data/gym_app00001;-wal
/data/gym_app00001;-shm
/data/

# =========================
# IntelliJ IDEA (REQUIRED)
# =========================
.idea/
*.iml

# =========================
# Build output (REQUIRED)
# =========================
target/
out/
*.class
dependency-reduced-pom.xml

# =========================
# OS / Sync noise
# =========================
.DS_Store
Thumbs.db
*conflicted copy*

